.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#b683a6;
  padding: 2rem;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.result-modal-button {
  font-size: 1.2rem;
  padding: 12px 24px;
  margin-top: 20px;
  background-color: #af5191;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  z-index: 7;
}

.result-modal-button:hover {
  background-color: #bb79a6;
  transform: scale(1.0);
}

.result-modal-text,
.selected-person-to-clap {
  display: block;
  text-align: center;
}

.result-modal-text {
  color: rgb(7, 6, 7);
  margin-bottom: 0;
}

.pharse {
  font-size: 14px;
  text-align: center;
}

.selected-person-to-clap {
  color: white;
  margin-top: 1rem;
}

.confetti-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
}